<launch>
  <arg name="model" default="clober"/>
  <arg name="map_file" default="$(find clober_simulation)/map/suntech_5x5/suntech_5x5.yaml"/>
  <arg name="open_rviz" default="true"/>
  <arg name="set_map_frame"  default="map"/>

  <!-- launches the clober suntech world -->
  <include file="$(find clober_simulation)/launch/rmf/rmf_suntech_5x5.launch">
    <arg name="model" value="$(arg model)"/>
  </include>

  <!-- Map server -->
  <node pkg="map_server" name="map_server" type="map_server" args="$(arg map_file)">
    <param name="frame_id" value="$(arg set_map_frame)"/>
  </node>

  <arg name="cb_0_prefix" value="clober_0"/>
  <group ns="$(arg cb_0_prefix)">
    <include file="$(find clober_ff_client_ros1)/launch/include/cmb/sim/single_clober_cmb_ff.launch">
      <arg name="model" value="$(arg model)"/>
      <arg name="set_base_frame" value="$(arg cb_0_prefix)/base_footprint"/>
      <arg name="set_odom_frame" value="$(arg cb_0_prefix)/odom"/>
      <arg name="set_scan_frame" value="$(arg cb_0_prefix)/base_scan"/>
      <arg name="set_map_frame" value="$(arg set_map_frame)"/>
      <arg name="open_rviz" value="false"/>
      <arg name="initial_pose_x" default="1.8777"/>
      <arg name="initial_pose_y" default="0.3801"/>
      <arg name="initial_pose_a" default=" 0.0"/>
    </include>
  </group>

  <arg name="cb_1_prefix" value="clober_1"/>
  <group ns="$(arg cb_1_prefix)">
    <include file="$(find clober_ff_client_ros1)/launch/include/cmb/sim/single_clober_cmb_ff.launch">
      <arg name="model" value="$(arg model)"/>
      <arg name="set_base_frame" value="$(arg cb_1_prefix)/base_footprint"/>
      <arg name="set_odom_frame" value="$(arg cb_1_prefix)/odom"/>
      <arg name="set_scan_frame" value="$(arg cb_1_prefix)/base_scan"/>
      <arg name="set_map_frame" value="$(arg set_map_frame)"/>
      <arg name="open_rviz" value="false"/>
      <arg name="initial_pose_x" default="5.8564"/>
      <arg name="initial_pose_y" default="0.41104"/>
      <arg name="initial_pose_a" default=" 0.0"/>
    </include>
  </group>

  <!-- <arg name="cb_2_prefix" value="clober_2"/>
  <group ns="$(arg cb_2_prefix)">
    <include file="$(find clober_ff_client_ros1)/launch/include/cmb/sim/single_clober_cmb_ff.launch">
      <arg name="model" value="$(arg model)"/>
      <arg name="set_base_frame" value="$(arg cb_2_prefix)/base_footprint"/>
      <arg name="set_odom_frame" value="$(arg cb_2_prefix)/odom"/>
      <arg name="set_scan_frame" value="$(arg cb_2_prefix)/base_scan"/>
      <arg name="set_map_frame" value="$(arg set_map_frame)"/>
      <arg name="open_rviz" value="false"/>
      <arg name="initial_pose_x" default="7.35548"/>
      <arg name="initial_pose_y" default="11.05311"/>
      <arg name="initial_pose_a" default=" 0.0"/>
    </include>
  </group> -->


  <!-- launch the free fleet client of multi clobers -->
  <node name="$(arg cb_0_prefix)_free_fleet_client_node" pkg="free_fleet_client_ros1"
      type="free_fleet_client_ros1" output="screen">
    <param name="fleet_name" type="string" value="clober"/>
    <param name="robot_name" type="string" value="$(arg cb_0_prefix)"/>
    <param name="level_name" type="string" value="L1"/>
    <param name="dds_domain" type="int" value="129"/>
    <param name="max_dist_to_first_waypoint" type="double" value="10.0"/>
    <param name="battery_state_topic" value="$(arg cb_0_prefix)/battery_state"/>
    <param name="robot_frame" value="$(arg cb_0_prefix)/base_footprint"/>
    <param name="move_base_server_name" value="$(arg cb_0_prefix)/move_base"/>
  </node>

    <node name="$(arg cb_1_prefix)_free_fleet_client_node" pkg="free_fleet_client_ros1"
      type="free_fleet_client_ros1" output="screen">
    <param name="fleet_name" type="string" value="clober"/>
    <param name="robot_name" type="string" value="$(arg cb_1_prefix)"/>
    <param name="level_name" type="string" value="L1"/>
    <param name="dds_domain" type="int" value="129"/>
    <param name="max_dist_to_first_waypoint" type="double" value="10.0"/>
    <param name="battery_state_topic" value="$(arg cb_1_prefix)/battery_state"/>
    <param name="robot_frame" value="$(arg cb_1_prefix)/base_footprint"/>
    <param name="move_base_server_name" value="$(arg cb_1_prefix)/move_base"/>
  </node>

    <!-- <node name="$(arg cb_2_prefix)_free_fleet_client_node" pkg="free_fleet_client_ros1"
      type="free_fleet_client_ros1" output="screen">
    <param name="fleet_name" type="string" value="clober"/>
    <param name="robot_name" type="string" value="$(arg cb_2_prefix)"/>
    <param name="level_name" type="string" value="L1"/>
    <param name="dds_domain" type="int" value="129"/>
    <param name="max_dist_to_first_waypoint" type="double" value="10.0"/>
    <param name="battery_state_topic" value="$(arg cb_2_prefix)/battery_state"/>
    <param name="robot_frame" value="$(arg cb_2_prefix)/base_footprint"/>
    <param name="move_base_server_name" value="$(arg cb_2_prefix)/move_base"/>
  </node> -->


  <!-- launch the overall visualization on rviz -->
  <node pkg="rviz" type="rviz" name="rviz" required="true"
        args="-d $(find clober_ff_client_ros1)/rviz/multi_clober_ff.rviz">  
    <!-- <remap from="/move_base_simple/goal" to="$(arg cb_0_prefix)/move_base_simple/goal"/> -->

  </node>

</launch>