<launch>
  <arg name="model" default="clober"/>
  <arg name="map_file" default="$(find clober_simulation)/map/suntech_office/suntech_office.yaml"/>
  <arg name="open_rviz" default="true"/>
  <arg name="set_map_frame"  default="map"/>

  <!-- launches the clober 3x3 world -->
  <include file="$(find clober_simulation)/launch/suntech.launch">
    <arg name="model" value="$(arg model)"/>
  </include>

  <!-- Map server -->
  <node pkg="map_server" name="map_server" type="map_server" args="$(arg map_file)">
    <param name="frame_id" value="$(arg set_map_frame)"/>
  </node>

  <arg name="cb_0_prefix" value="clober"/>
  <group ns="$(arg cb_0_prefix)">
    <include file="$(find clober_ff_client_ros1)/launch/include/single_clober_cmb_ff.launch">
      <arg name="model" value="$(arg model)"/>
      <arg name="set_base_frame" value="$(arg cb_0_prefix)/base_footprint"/>
      <arg name="set_odom_frame" value="$(arg cb_0_prefix)/odom"/>
      <arg name="set_scan_frame" value="$(arg cb_0_prefix)/base_scan"/>
      <arg name="set_map_frame" value="$(arg set_map_frame)"/>
      <arg name="open_rviz" value="true"/>
      <arg name="initial_pose_x" default="-0.20640"/>
      <arg name="initial_pose_y" default="-3.134880"/>
      <arg name="initial_pose_a" default=" 0.0"/>
    </include>
  </group>

  <!-- launch the free fleet client of multi clobers -->
  <node name="$(arg cb_0_prefix)_free_fleet_client_node" pkg="free_fleet_client_ros1"
      type="free_fleet_client_ros1" output="screen">
    <param name="fleet_name" type="string" value="clober"/>
    <param name="robot_name" type="string" value="$(arg cb_0_prefix)"/>
    <param name="level_name" type="string" value="L1"/>
    <param name="dds_domain" type="int" value="123"/>
    <param name="max_dist_to_first_waypoint" type="double" value="10.0"/>
    <param name="battery_state_topic" value="$(arg cb_0_prefix)/battery_state"/>
    <param name="robot_frame" value="$(arg cb_0_prefix)/base_footprint"/>
    <param name="move_base_server_name" value="$(arg cb_0_prefix)/move_base"/>
    <param name="battery_state_topic" value="battery_state"/>
    <param name="robot_frame" value="base_footprint"/>
    <param name="move_base_server_name" value="move_base"/>
    <!-- <param name="battery_state_topic" value="$(arg cb_0_prefix)/battery_state"/>
    <param name="robot_frame" value="$(arg cb_0_prefix)/base_footprint"/>
    <param name="move_base_server_name" value="$(arg cb_0_prefix)/move_base"/> -->
  </node>
  <!-- </node> -->
  </node>

  <!-- launch the overall visualization on rviz -->
  <!-- <group ns="$(arg cb_0_prefix)">
  <node pkg="rviz" type="rviz" name="rviz" required="true"
        args="-d $(find clober_ff_client_ros1)/rviz/multi_clober_ff.rviz"/>
 </group> -->
</launch>