<launch>
  <arg name="model" default="clober"/>
  <arg name="map_file" default="$(find clober_simulation)/map/3x3/map.yaml"/>
  <arg name="open_rviz" default="false"/>
  <arg name="initial_pose_x" default=" 3.0"/>
  <arg name="initial_pose_y" default="-2.0"/>
  <arg name="initial_pose_a" default=" 0.0"/>

  <!-- launches the clober logo world -->
  <include file="$(find clober_simulation)/launch/rmf_3x3_world.launch">
    <arg name="model" value="$(arg model)"/>
  </include>

  <!-- launch the navigation stack with test maps -->
  <group>
    <!-- Map server -->
    <node pkg="map_server" name="map_server" type="map_server" args="$(arg map_file)"/>

    <!-- AMCL -->
    <include file="$(find clober_navigation)/launch/amcl.launch">
      <arg name="initial_pose_x" value="$(arg initial_pose_x)"/>
      <arg name="initial_pose_y" value="$(arg initial_pose_y)"/>
      <arg name="initial_pose_a" value="$(arg initial_pose_a)"/>    
    </include>

    <!-- move_base -->
    <include file="$(find clober_navigation)/launch/move_base.launch">
    </include>

    <!-- rviz -->
    <group if="$(arg open_rviz)">
      <include file="$(find clober_description)/launch/rviz.launch"/>
    </group>
  </group>

  <!-- launch the free fleet client first -->
  <node name="clober_free_fleet_client_node" pkg="free_fleet_client_ros1"
      type="free_fleet_client_ros1" output="screen">
    <param name="fleet_name" type="string" value="clober"/>
    <param name="robot_name" type="string" value="clober_0"/>
    <param name="level_name" type="string" value="L1"/>
    <param name="dds_domain" type="int" value="42"/>
    <param name="max_dist_to_first_waypoint" type="double" value="10.0"/>
  </node>

</launch>